



bin/
obj/
out/
bin/Debug/net8.8/


*.user
*.suo
*.userosscache
*.sln.docstates

logs/

*.log


appsettings.Development.json
appsettings.Local.json
secrets.json
appsettings.json

EntityFramework_and_Database.csproj
EntityFramework_and_Database.sln

launchSettings.json
